@import '../../styles/variables.scss';

.container {
  position: relative;
  padding-top: $offset-product-top;

  .card {
    border-radius: $border-radius-card;
    opacity: $opacity-item;
    height: $height-product-card;
    display: flow-root;

    &::before {
      content: "";
      position: absolute;
      top: $offset-product-top;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: $border-radius-card;
      border: 2px solid transparent;
      background: linear-gradient(45deg, $border-dark-color, $border-light-color, $border-dark-color) border-box;
      -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
    }

    .content {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;

      p {
        max-height: 3em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }

    .image {
      height: $height-product-image;
      transition: transform 500ms ease-in-out;
      filter: drop-shadow(5px 10px 15px $shadow-color);
    }

    &:hover {
      cursor: pointer;
      background-color: #323d2d;
      transition: all 500ms ease-in-out;
      .image {
        transform: scale(1.05);
      }
    }

    .description {
      min-width: 100%;
    }

    .bottomContent {
      display: flex;
      align-items: center;

      .discount {
        font-size: larger;
        font-weight: bold;
        color: $border-green-color;
        border-right: 2px solid $border-light-color;
      }
    }
  }
}
