@import '_variables';
@import '_mixins';

header + div {
  padding-top: $height-header;
  padding-bottom: $height-header;
}

#root {
  position: relative;
}

.strikethrough {
  text-decoration: line-through;
}

.carousel.carousel-slider .control-arrow {
  &:hover {
    background: transparent !important;

    &.control-next.control-arrow:before {
      border-left: 8px solid green;
    }

    &.control-prev.control-arrow:before {
      border-right: 8px solid green;
    }
  }
}

.carousel:hover .MuiPaper-root {
  background-color: #5257502e;
}
