@import '_variables';
@import '_mixins';

header + div {
  padding-top: $height-header;
  padding-bottom: $height-header;
}

#root {
  position: relative;
}

.strikethrough {
  text-decoration: line-through;
}
