//Colors
$paper-color: #262e22;
$shadow-color: rgba(8, 9, 13, 0.4);
$border-dark-color: rgba(38, 46, 34, 0.8);
$border-light-color: rgba(255, 255, 255, 0.5);
$border-green-color: rgba(85, 176, 0, 0.6);

// Properties
$height-header: 68px;
$height-product-image: 200px;
$height-promo-image-xs: 140px;
$height-promo-image: 300px;
$height-product-card: calc($height-product-image + 120px);
$offset-product-top: 60px;
$border-radius-card: 50px;
$opacity-item: 0.9;
